
header {
    background-color: #444444;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
